<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Registro de Técnicos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Tecnico/Index">
                <div class="text-center">
                    <span class="bi bi-collection me-1 fs-6" aria-hidden="true"></span> Registro de Técnicos
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Clientes/Index">
                <div class="text-center">
                    <span class="bi bi-person-add me-1 fs-5" aria-hidden="true"></span> Registro de Clientes
                </div>
            </NavLink>
        </div>
    </nav>
</div>